// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  font-family: 'Helvetica';
}

main {
  padding: 50px;
}


h1 {
  font-size: 30px;
  color: #D32322;
  margin-bottom: 35px;
}

.btn-light {
  border: 0.5px solid grey;
}

a {
  color: #D32322;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

h5 {
  color: #D32322;
}

.card img {
  max-height: 300px;
}

.container {
  max-width: 50vw;
  margin: 0 auto;
}

.btn {
  color: white;
}
